<ion-view>  
  <ion-content>      
    <div class="cover-profile" style="background-image:url('{{user.cover}}')">
      <div class="avatar">
          <img src="{{user.avatar}}"></img>
          <span class="fullname">{{user.fullname}}</span>
          <span class="followers">{{user.followers}} followers</span>,
          <span class="following">{{user.following}} following</span>
      </div>
    </div>
    <div class="profile-tabs item tabs tabs-secondary tabs-icon-left">
      <a class="tab-item" ui-sref="tab.profile" ng-class="{'tab-item-active': selectedTab === 'posts'}" ng-click="selectedTab = 'posts'">
        <span class="first-title">ALL MY</span> 
        <span class="second-title">POSTS</span>
      </a>
      <a class="tab-item" ui-sref="tab.profile" ng-class="{'tab-item-active': selectedTab === 'liked'}" ng-click="selectedTab = 'liked'">        
        <span class="first-title">THAT I'VE</span> 
        <span class="second-title">LIKED</span>        
      </a>
      <a class="tab-item" href="#">        
        <span class="first-title">ALL MY</span> 
        <span class="second-title">WISHES</span>
      </a>
      <a class="tab-item" href="#">        
        <span class="first-title">ALL MY</span> 
        <span class="second-title">PHOTOS</span>         
      </a>      
    </div>
    <div class="post-view">
      <span><a ng-click="changePostView('timeline')">satu</a></span> | <span><a ng-click="changePostView('thumbnail')">dua</a></span>
    </div>
    <div class="list-wrapper">
      <div class="list card {{postView}}" ng-repeat="post in posts">
        <div class="post">        
          <img src="{{post.avatar}}" class="post-avatar">
          <img src="{{post.photo}}" class="post-image">
          <div class="post-options">
            <a class="tab-item" href="#">
              <i class="icon ion-thumbsup"></i>              
              <span>{{post.likeNumber}}</span>
            </a>
            <a class="tab-item" href="#">
              <i class="icon ion-chatbox"></i>              
              <span>{{post.commentNumber}}</span>
            </a>
            <a class="tab-item" href="#">
              <i class="icon ion-share"></i>
              <span>{{post.relookNumber}}</span>
            </a>
          </div>
          <div class="post-title">            
            <div class="caption-wrapper">
              <span class="username"><a ui-sref="tab.profile" class="profile">{{post.username}}</a> :</span> 
              <span class="caption">Nikmati indahnya hidup ini bersama dian sastro</span>
              <span class="time">2 Hours Ago</span>
            </div>
            <img src="{{post.avatar}}" class="post-avatar">
          </div>
        </div>
      <div>
    </div>
  </ion-content>
</ion-view>

