<div class="bar bar-loading bar-assertive" ng-if="validation.isFailed">
  {{validation.message}}
</div>
<ion-view title="Lookats">
  <ion-content class="slide-under-header has-header">
    <div class='register'>
      <form ng-submit="doRegister()" type="POST" name="registerForm" novalidate="novalidate" ng-init="setFormScope(this)">
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Email</span>
            <input type="email" ng-model="register.email" name="email" required>   
          </label>
          
          <label class="item item-input">
            <span class="input-label">Username</span>
            <input type="text" ng-model="register.username" name="username" required>
          </label>      

          <label class="item item-input">
            <span class="input-label">Password</span>
            <input type="password" ng-model="register.password" name="password" required>
          </label>      

          <label class="item item-input">
            <span class="input-label">Full Name</span>
            <input type="text" ng-model="register.fullname" name="fullname" required>
          </label>      

          <label class="item item-input">
            <span class="input-label">Phone Number (Optional)</span>
            <input type="text" ng-model="register.phoneNumber">
          </label>      
          <div class="row">
            <div class="col">
              <button class="button button-block button-positive" ng-click="registerBack()">Back</button>
            </div>
            <div class="col">
              <button ng-submit="doRegister()" class="button button-block button-positive">Register</input>
            </div>
          </div>
        </div>
      </form>
    </div>
  </ion-content>
</ion-view>