$primary-color : #212121;
$secondary-color : #bdbdbd;

.slider {
  height: 100%;

  .slider-slide {
    padding-top: 80px;
    color: #000;
    background-color: #fff;
    text-align: center;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
  }
}

#logo {
  margin: 30px 0px;
}

#list {
  width: 170px;
  margin: 30px auto;
  font-size: 20px;

  ol {
    margin-top: 30px;

    li {
      text-align: left;
      list-style: decimal;
      margin: 10px 0px;
    }
  }
}

.interest-item {
  display: inline-block;
  padding: 7px;
  margin: 4px;
  border: 1px solid #e0e0e0;
}

.chosen {
  background-color: #000000;
  color: #ffffff;
}

.button-follow {
  position: absolute;
  top: 2px;
  right: 20px
}

.timeline a.profile {
  text-decoration: none;
  color: $primary-color;
}

.timeline .post-time {
  color: $secondary-color;
  font-size: 10px;
}

.timeline.list {
  padding-left: 1px;
  padding-right: 1px;
}

.looked {
  position: absolute;
  right: 26px;
  top: 17px;

  .count {
    font-size: 14px;
    color: $primary-color;
  }

  .looks {
    color: $secondary-color;
    font-size: 10px;
  }
}

.post-view {
  padding: 10px;  
}

.list-wrapper {
  width: 100%;
}

.thumbnail {  
  display: inline-block;

  > .post {
      .post-image {
        width:100%;
      }

      .post-avatar {
        display:none;
      }

      .post-options {
        display:none;
      }

      .post-title {
        display:none;
      }
  }  
}

.thumbnail.list.card {
  margin:0;
  padding: 0 5px 5px 5px;
  width:33.33%;
}

.timeline > .post { 
  margin : 0;
  position: relative;
  display: block;

  .post-title {
    position: relative;
    min-height:70px;
    .post-avatar {
      top: 5px;
    }
    .caption-wrapper {
      margin-left:75px;
      margin-top: 14px;

      .username {
        color: #212121;
      }

      .caption {
        color: #424242;
      }

      .time {
        display: block;
        color: $secondary-color;
        font-size: 10px;
      }
    }
  }

  .post-avatar {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 15px;
    left: 20px;
  }

  .post-image {
    width: 100%;
    vertical-align: middle;
    display: block;
  }

  .item.tabs {
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    flex-direction: row;
    -webkit-flex-direction: row;
    border: none;
    border-bottom: 1px solid #e4e4e4;
  }

  .tab-item {
    max-width: 70px;
    padding-left: 9px;
    font-size:12px;
  }

  .post-options {
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 12px;
    font-size: 16px;

    a, i {
      color: #7a7a7a;
      display: inline-block;
    }

    a {
      padding-right: 12px;
      span {
        vertical-align: middle;
        display: inline-block;
        line-height: 1;
      }
    }

    i {
      vertical-align: middle;
      display: inline-block;
      line-height: 1;
    }

    .icon:before {
      font-size: 24px;
    }
  }
}

.cover-profile {  
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center center;
  position: relative;
  display: table;

  .avatar {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    height: 400px;

      img {
        height: 80px;
        width: 80px;
        border-radius: 5%;
      }

      span.fullname {
        display: block;
        font-size: 20px;
        font-style: normal;
      } 

      span {
        color: #ffffff;
        font-style: italic;
      }

  }
}

.profile-tabs {
  background-color: #e0e0e0;

  .first-title {
    display: block;
    height: 13px;
    padding: 0;
    margin: 0;
    line-height: 1;
    font-size: 8px;
    text-align: left;
  }

  .second-title {
    display: block;
    height: 20px;
    padding: 0;
    margin: 0;
    line-height: 1; 
    font-size: 13px;
    text-align: left;
  }

  > .item {
    .tab-item {
      margin-top: -5px;
    }
  }

  > a {
    padding: 12px;
    background-color: #e0e0e0;
    color: #757575;
  }

  > a.tab-item-active {
    background-color: #424242;
  }
}

.post-view {
  text-align: center;

  span {
    border: 1px solid #e0e0e0;
    height: 15px;
    display: inline-block;
  }

  i {
    font-size: 18px;
  }

  a.active > i {
    color: #bdbdbd;
  }
}

.timeline.card {
  margin: 0px 0;
}

.bar.bar-loading {
  display: block;
  height: 24px;
  position: absolute !important;
  top: 0 !important;
  width: 100% !important;
  text-align: center;
  padding: 0;
  line-height: 24px;
  -webkit-transition: 1000ms all;
}

.cover-login, .cover-register {  
  width: 100%;
  height: 270px;
  background-size: cover;
  background-position: center center;
}

.cover-login {
  background-image: url('../images/cover-login.jpg');
}

.login-form {
  span.input-label {
    font-size: 30px;    
    width: 15%;
    text-align: center;
    padding: 7px 66px 7px 0px;
  }
}

.forgot-password-link {
  text-align: center;
}

.ion-key:before {
  -ms-transform: rotate(223deg);
  -webkit-transform: rotate(223deg);
  transform: rotate(223deg);    
  font-size:32px;
}

.cover-register {  
  width: 100%;
  height: 300px;
  background-color: #757575;
  background-size: cover;
  background-position: center center;
  position: relative;
  display: table;
}

.cover-wrapper {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 81%;
  padding-top: 30px;

  > .avatar {
    border-radius: 3px;
    text-align: center;
    height: 80px;
    width: 80px;
    margin: 10px auto;
    padding-top: 18px;
    background-color: #e0e0e0;
    color: #424242;
    outline: 1px solid #757575;
    > span.icon {
      display: block;
      font-size: 30px;
    }
  }

  > .cover-user {
    border-radius: 3px;
    text-align: center;
    height: 80px;
    width: 80px;
    margin: 15px auto;
    padding-top: 18px;
    color: #e0e0e0;
    outline: 1px solid #e0e0e0;
    > span.icon {
      display: block;
      font-size: 30px;      
    }
  }
}

/*
.register {
  > .login-form {
    label.item-input:nth-child(3) {
      input {
        margin-left: 12px;
      }
      
    }

    label.item-input:nth-child(5) {
      input {
        margin-left: 12px;
      }
      
    }
  }
}*/