<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<widget id="io.cordova.hellocordova" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Lookats</name>
  <description>
        An social fashion app to express your style daily.
    </description>
  <author email="dev@cordova.apache.org" href="http://cordova.io">
        Lookats Team
    </author>
  <content src="index.html"/>
  <access origin="*"/>
</widget>