<ion-view> 
  <ion-content>
    <ion-refresher
      pulling-text="Pull to refresh..."
      on-refresh="doRefresh()">
    </ion-refresher>
    <div class="list card timeline" ng-repeat="post in posts track by $index">

        <div class="post">
          <img ng-src="{{post.author.avatar}}" class="post-avatar">
          <img ng-src="{{post.image.url}}" class="post-image" />          
          <div class="post-options">
            <a class="tab-item" href="#">
              <i class="icon ion-thumbsup"></i>              
              <span>{{post.likedNumber}}</span>
            </a>
            <a class="tab-item" ui-sref="dashboard-home-comment({postId : post.id})">
              <i class="icon ion-chatbox"></i>              
              <span>{{post.commentNumber}}</span>
            </a>
            <a class="tab-item" href="#">
              <i class="icon ion-share"></i>
              <span>{{post.relookNumber}}</span>
            </a>
          </div>
          <div class="post-title">            
            <div class="caption-wrapper">
              <span class="username"><a ui-sref="dashboard.home-profile({id : post.author.id})" class="profile">{{post.author.username}}</a> :</span> 
              <span class="caption">{{post.title}}</span>
              <span class="time">2 Hours Ago</span>
            </div>
            <img ng-src="{{post.author.avatar}}" class="post-avatar">
          </div>
        </div>

    </div>
  </ion-content>
</ion-view>