<ion-nav-bar class="bar bar-header bar-dark">
 	<button class="button icon ion-home" ng-click="goToLogin()"></button>
	<h1 class="title">LOOKATS</h1>
  	<div class="buttons right-buttons">
      <button class="button icon ion-gear-a">
      </button>
    </div>
</ion-nav-bar>
<!-- <div class="bar bar-header">
  <button class="button icon ion-navicon"></button>
  <h1 class="title">Header Buttons</h1>
  <button class="button">Edit</button>
</div> -->
<ion-nav-view animation="slide-left-right"></ion-nav-view>

<!--
  Create tabs with an icon and label, using the tabs-positive style.
  Each tab's child <ion-nav-view> directive will have its own
  navigation history that also transitions its views in and out.
-->

<ion-tabs class="tabs-icon-top">

  <!-- Dashboard Tab -->
  <ion-tab title="Home" icon="icon ion-home" href="#/home">
    <ion-nav-view name="dashboard-home"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Discover" icon="icon ion-search" href="#/dashboard/discover">
    <ion-nav-view name="dashboard-discover"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Camera" icon="icon ion-camera" ng-click="retake()" href="#/tab/camera">
    <ion-nav-view name="dashboard-camera"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Notifications" icon="icon ion-heart" href="#/dashboard/notification">
    <ion-nav-view name="dashboard-notification"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Profile" icon="icon ion-gear-b" href="#/dashboard/profile">
    <ion-nav-view name="dashboard-myprofile"></ion-nav-view>
  </ion-tab>


</ion-tabs>
